html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: rgba(26, 188, 156, 255);
}

/* header */

.page__nav {
  padding: 32px 0;
  background-color: #ffffff;
}

.site__logo {
  font-size: 30px;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  float: left;
  text-decoration: none;
  color: #555252;
}

.site__logo::first-letter {
  color: #62cab0;
  font-weight: 700;
}

.site__nav {
  color: #0f0101;
  font-weight: 700;
  font-size: 10px;
  text-decoration: none;
  list-style: none;
  float: right;
  width: 467px;
  padding-top: 10px;
}

.site__nav li {
  float: left;
  width: 16.6%;
}

.site__nav a {
  display: block;
  color: #0f0101;
  text-decoration: none;
}

.site__nav a:hover,
.site__nav a:focus {
  color: #62cab0;
}

/* slider */

.slider {
  position: relative;
  height: 600px;
  margin: 0 auto;
  color: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/slide4.jpeg");
  background-size: cover;
  background-position: center;
}

.slider .container {
  height: 600px;
  position: relative;
}

.slider__ctrl {
  position: absolute;
  display: inline-block;
  width: 104px;
  height: 106px;
  opacity: 0.75;
  border: none;
  background-color: #62cab0;
  top: 225px;
  line-height: 11px;
  color: #ffffff;
}

.slider__ctrl-prev {
  left: 0;
  background-image: url("../img/1@1X.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.slider__ctrl-next {
  right: 0;
  background-image: url("../img/2@1X.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.slider__ctrl-next {
  right: 0;
}

.slider__name {
  font-size: 60px;
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.slider__text {
  font-size: 20px;
  margin-top: 15px;
}

.slider__box {
  position: absolute;
  width: 100%;
  text-align: left;
  padding-left: 190px;
  top: 220px;
}

/* h2 */

h2 {
  font-size: 48px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 82px;
  color: rgba(81, 81, 81, 255);
  letter-spacing: -0.03em;
  text-align: center;
}

h2::after {
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 0 auto;
  margin-top: 34px;
  content: "";
}

/* new collection */

.collection__box {
  background-color: #e9f0fd;
}

.collection__list {
  list-style: none;
  font-size: 0px;
  font-family: "Roboto", sans-serif;
}

.collection__list__item {
  color: #ffffff;
  float: left;
  margin-right: 30px;
  position: relative;
}

.collection__list__img {
  width: 255px;
  height: 283px;
  vertical-align: middle;
  object-fit: cover;
}

.collection__list__sign {
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  vertical-align: bottom;
}

.collection__list__name {
  background-color: #323232;
  width: 200px;
  text-align: left;
  float: left;
  padding-left: 14px;
}

.collection__list__price {
  background-color: #8c8c8c;
  width: 55px;
  float: left;
}

.collection__list__item:hover .collection__list__name {
  background-color: #1abc9c;
}

.collection__list__item:hover .collection__list__price {
  background-color: #7fd9c7;
}

.collection__list__item:nth-of-type(4) {
  margin-right: 0;
}

.collection {
  padding: 100px 0;
  background-color: #e9f0fd;
}
.collection__list__link {
  display: block;
}

/* footer */

.down {
  height: 90px;
  background-color: #323232;
  color: #ffffff;
  padding-top: 35px;
}

.contacts__down {
  vertical-align: middle;
  font-size: 16pt;
  line-height: 28px;
  font-weight: 200;
  text-align: center;
  text-transform: none;
}

.contacts__span {
  color: #1abc9c;
}

.overlay {
  position: absolute;
  width: 234px;
  height: 260px;
  background-color: rgba(0, 0, 0, 0.45);
  opacity: 0;
  top: 11px;
  left: 11px;
}

.overlay:hover {
  /* .overlay :focus { */
  opacity: 1;
}

.overlay__icons {
  display: inline-block;
  width: 167px;
  height: 107px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.small {
  border: 1px solid white;
  height: 50px;
  width: 50px;
  background-color: transparent;
  float: left;
  margin-bottom: 8px;
}

.icons__heart {
  background-image: url("../img/card-icons/heart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin-right: 8px;
}

.icons__arrow {
  background-image: url("../img/card-icons/arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin-right: 8px;
}

.icons__clock {
  background-image: url("../img/card-icons/clock.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin-right: 0;
}

.icons__big {
  border: 1px solid white;
  height: 50px;
  width: 168px;
  background-color: #323232;
  color: white;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
}

.icons__big::before {
  display: inline-block;
  background-image: url("../img/card-icons/shop.png");
  background-repeat: no-repeat;
  background-position: 8px 8px;
  background-size: auto;
  width: 50px;
  height: 50px;
  content: "";
  vertical-align: middle;
}

.small:hover {
  background-color: #1abc9c;
}
