$main-font-stack: 'Roboto', sans-serif;
$main-color-text: #999999;
$color-white: #ffffff;
$color-mint: #95e1d3;
$color-pink: #f38181;
$color-background: #ffffff;
$color-title: #333333;
$color-menu-hover: #fce38a;
$linear-gradient-team: linear-gradient(rgba(243, 129, 129, 0.9),
rgba(252, 227, 138, 0.9));
$main-fonts2: 'Montserrat', sans-serif;
$main-fonts3: 'Kaushan Script', sans-serif;